@media  (max-width: 1079px) {  
  .inner {
    padding: 0 15px;
  }
  .footer-box-01 {
    margin: 0 15px;
  }
  .top-wrapper-box {
    width: 100%;
  }
  .top-item-01,.top-item-02 {
    width: 50%;
  }
  .top-sentence-01pc {
    font-size: 3.2vw;
  }
  .top-sentence-02pc {
    font-size: 1.5vw;
    width: 80%;
  }
  .btn-01,.btn-02 {
    font-size: 1.6vw;
  }
  .about-wrapper-box-01,.about-wrapper-box-02 {
    margin: 100px auto 0;  
  }
  .about-box {
    width: 50%;
    padding: 0 20px;
  }
  .about-logo {
    max-width: 450px;
    width: 100%;
  }
  .about-sentence {
    max-width: 450px;
    width: 100%;
  }
}
@media  (max-width: 767px) {
  .title {
    font-size: 28px;
  }
  .btn-01 {
    font-size: 18px;
    margin: 0 auto;
    width: 88px;
    display: block;
  }
  .btn-02 {
    font-size: 18px;
    margin: 15px auto 0;
    width: 144px;
    display: block;
  }
  .btn-03 {
    margin: 30px auto 0;
    width: 56px;
    display: block;  
  }
  .service-title:before,
  .service-title:after {
    margin:15px;
  }
  .about-title:before,
  .about-title:after {
    margin:15px;
  }
  .news-title:before,
  .news-title:after {
    margin:15px;
  }
  .hr {
    max-width: 1000px;
  }
  .header-logo {
    width: 110px;
    font-size: 28px;
  }
  .top-wrapper-box {
    display: flex;
    flex-direction: column;
  }
  .top-item-01,.top-item-02 {
    width: 100%;
  }
  .top-wrapper-logo {
    padding-top: 10px;
    max-width: 560px;
    width: 100%;
    margin: 0 auto ;
    display: block;  
  }
  .top-sentence-01sp {
    text-align: center;
    padding: 10px 0 0;
    line-height: 48px;
  }
  .top-sentence-02sp {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .top-sentence-01sp,.top-sentence-02sp {
    display: block;
  }
  .top-sentence-01pc,.top-sentence-02pc {
    display: none;
  }
  .service-title {
    margin-top: 100px;
  }
  .service-wrapper-box {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    width: 200px;
  } 
  .service-sentence {
    margin-bottom: 50px;
  }
  .about-title {
    margin-top: 50px;
  }
  .about-wrapper-box-01  {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0;
  }
  .about-logo {
    width: 100%;
    max-width: 450px;
    margin: 0 auto ;
    display: block;  
  }
  .about-wrapper-box-02  {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 ;
  }
  .about-sentence {
    margin: 30px auto 0;
    display: block;  
    width: 100%;
  }
  .about-item {
    margin: 50px auto 0;
    display: block;  
    max-width: 450px;
  }
  .about-box {
    width: 100%;
    padding: 0;
  }
  .about-sentence {
    width: 100%;
  }

  .news-wrapper-box  {
    display: flex;
    flex-direction: column;
  }
  .news-logo {
    margin: 18px auto 24px;
    display: block;  
  }
  .sentence1 {
    width: 100%;
  }
  .sentence2 {
    width: 100%;
  }
  .footer-box-01 {
    display: flex;
    flex-direction: column;
    height: 215px;
  }
  .footer-logo {
    padding-top: 30px;
    margin: 0 auto ;
    display: block;  
  } 
  .footer-item-01 ul {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    text-align: center;
  }
  .footer-item-01 li{
    border-right : none;
    margin-right: 0;
    padding-right: 0;
  }
  .footer-item-01 li {
    margin-bottom: 12px;
  }
  .footer-box-02 {
    height: 35px;
    margin-top: 40px;
  }
}
