body {
  color: #333333;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none ;
}
img {
  max-width: 100%;
  height: auto;
}
.title {
  font-weight: bold;
  font-size: 36px;
}
.btn-01 {
  font-size: 18px;
  font-weight: bold;
  border-radius: 32px;
  background-color:#109954;
  color:white;
  padding: 15px 39px;
  margin-top: 20px;
  display: inline-block;
  box-shadow: #00000029 3px 3px 10px;
  text-decoration: none ;
}
.btn-02 {
  font-size: 18px;
  font-weight: bold;
  border: 2px solid#109954;
  border-radius: 32px;
  background-color:white;
  color:#109954;
  padding: 15px 39px;
  margin-top: 20px;
  display: inline-block;
  box-shadow: #00000029 3px 3px 10px;
  margin-left: 10px;
}
.btn-03 {
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
  background-color:#109954;
  color:white;
  padding: 15px 55px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: #00000029 3px 3px 10px;
  text-decoration: none ;
}
.btn-04 {
  font-size: 14px;
  font-weight: bold;
  border: 2px solid#109954;
  border-radius: 13px;
  background-color:white;
  color:#109954;
  padding: 6px 23px;
  display: inline-block;
}
.btn-05 {
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
  background-color:#109954;
  color:white;
  padding: 15px 55px;
  margin-top: 30px;
  margin-bottom: 100px;
  display: inline-block;
  box-shadow: #00000029 3px 3px 10px;
  text-decoration: none ;
}
.inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.header-box {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 70px;	
}
.header-logo {
  width: 130px;
}
.header-item-02 {
  background-color: #FFE000;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  color:#333;
  padding: 15px 35px;
  margin: 11px 0;
  box-shadow: #00000029 3px 3px 10px;
}
.top-wrapper-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 80px;
}
.top-wrapper-logo {
  width: 560px;
}
.top-sentence-01pc,.top-sentence-01sp {
  font-size: 36px;
  text-align: left;
  padding-right: 16px;
  font-weight: bold;
  width: 100%;
}
.top-sentence-01sp,.top-sentence-02sp {
  display: none;
}
.top-sentence-02pc,.top-sentence-02sp {
  font-size: 16px;
  text-align: left;
  padding-right: 16px;
  width: 400px;
  line-height: 27px;
  margin:34px 0 20px;
}
.service-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.service-title:before,
.service-title:after {
  border-top: 4px solid;
  color: #109954;
  content: "";
  margin:0 50px;
  width: 200px;
}
.service-wrapper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 109px auto 0;
  max-width: 800px;
}
.service-sentence {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 205px;
}
.service-logo {
  width: 200px;
}
.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.about-title:before,
.about-title:after {
  border-top: 4px solid;
  color: #109954;
  content: "";
  margin:0 50px;
  width: 200px;
}
.about-wrapper-box-01  {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 100px 70px 0;
}
.about-wrapper-box-02  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 70px 0;
}
.about-logo {
  width: 450px;
  box-shadow: #00000029 0 11px 20px;
}
.about-sentence-01,.about-sentence-02 {
  width: 450px;
  font-size: 16px;
  line-height: 27px;
}
.about-item {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color:#109954;
  }
.news-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 100px;
}
.news-title:before,
.news-title:after {
  border-top: 4px solid;
  color: #109954;
  content: "";
  margin:0 50px;
  width: 200px;
}
.news-wrapper-box  {
  display: flex;
  justify-content: left;
  align-items: center;
}
.news-logo {
  width: 300px;
  margin:0 35px 0 40px;
}
time {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.news-sentence {
  margin-top: 15px;
}
.sentence1 {
  font-size: 16px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 15px;
}
.sentence2 {
  font-size: 16px;
  line-height: 27px;
  max-width: 650px;
  margin-top: 20px;
}
hr {
  width: 100%;
}
.news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-inner {
  background-color: #E8E8E8;
}
.footer-box-01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  height: 95px;
}
.footer-logo {
  width: 70px;
  padding-top: 25px;
}
.footer-item-01 ul {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.footer-item-01 li {
  margin-right: 18px;
  padding-right: 18px;
  border-right : solid 1px #333 ;
}
.footer-item-01 li:last-child {
  border-right : none;
  margin-right: 0;
  padding-right: 0;
}
.footer-box-02 {
  font-size: 14px;
  background-color: #E8E8E8;
  height: 26px;
  text-align: center;
  align-items: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
